%h1.center Bon Jovi
#panel-artist.panel
  .panel-content
    %img{:alt => "", :src => "http://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Jonbonjovi.jpg/800px-Jonbonjovi.jpg"}/
    %h2 Bio
    %p
      Bon Jovi is a hard rock band from Sayreville, New Jersey. Fronted
      by lead singer and namesake Jon Bon Jovi (born John Francis Bongiovi,
      Jr.), the group originally achieved large-scale success in the 1980s.
      Bon Jovi formed in 1983 with lead singer Jon Bon Jovi, guitarist
      Richie Sambora, keyboardist David Bryan, bassist Alec John Such, and
      drummer Tico Torres. Other than the departure of Alec John Such in
      1994 (which pared the lineup down to a quartet), the lineup has
      remained the same for the past 27 years. After two moderately
      successful albums in 1984
.clear
#panel-artist-top-albums.panel
  %h1.center Top Albums
  .panel-content
    %ul.item-container
      %li.item
        .item-index 1
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164277.png"}/
        .item-desc
          %a{:href => "#"} Cross Road
          .item-note Playcount: 137820
      %li.item
        .item-index 2
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/70338588.jpg"}/
        .item-desc
          %a{:href => "#"} Crush
          .item-note Playcount: 206751
      %li.item
        .item-index 3
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/54857355.png"}/
        .item-desc
          %a{:href => "#"} Slippery When Wet
          .item-note Playcount: 180086
      %li.item
        .item-index 4
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/51463519.png"}/
        .item-desc
          %a{:href => "#"} Have A Nice Day
          .item-note Playcount: 137820
      %li.item
        .item-index 5
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164943.png"}/
        .item-desc
          %a{:href => "#"} Bounce
          .item-note Playcount: 119395
      %li.item
        .item-index 6
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/65756804.png"}/
        .item-desc
          %a{:href => "#"} New Jersey
          .item-note Playcount: 93684
      %li.item
        .item-index 7
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164693.png"}/
        .item-desc
          %a{:href => "#"} These Days
          .item-note Playcount: 95926
      %li.item
        .item-index 8
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164525.png"}/
        .item-desc
          %a{:href => "#"} Keep The Faith
          .item-note Playcount: 88432
      %li.item
        .item-index 9
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/66885880.jpg"}/
        .item-desc
          %a{:href => "#"} Bon Jovi
          .item-note Playcount: 76054
      %li.item
        .item-index 10
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/54857317.png"}/
        .item-desc
          %a{:href => "#"} The Circle
          .item-note Playcount: 87718
#panel-artist-top-songs.panel
  %h1.center Top Songs
  .panel-content
    %ul.item-container
      %li.item
        .item-index 1
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164277.png"}/
        .item-desc
          %a{:href => "#"} Livin' On A Prayer
          .item-note Listeners: 73078
      %li.item
        .item-index 2
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164277.png"}/
        .item-desc
          %a{:href => "#"} You Give Love A Bad Name
          .item-note Listeners: 65096
      %li.item
        .item-index 3
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/70338588.jpg"}/
        .item-desc
          %a{:href => "#"} It's My Life
          .item-note Listeners: 63079
      %li.item
        .item-index 4
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164277.png"}/
        .item-desc
          %a{:href => "#"} Wanted Dead Or Alive
          .item-note Listeners: 42297
      %li.item
        .item-index 5
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164277.png"}/
        .item-desc
          %a{:href => "#"} Always
          .item-note Listeners: 38844
      %li.item
        .item-index 6
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164277.png"}/
        .item-desc
          %a{:href => "#"} Bed Of Roses
          .item-note Listeners: 27654
      %li.item
        .item-index 7
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/51463519.png"}/
        .item-desc
          %a{:href => "#"} Have A Nice Day
          .item-note Listeners: 27497
      %li.item
        .item-index 8
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164277.png"}/
        .item-desc
          %a{:href => "#"} Runaway
          .item-note Listeners: 25473
      %li.item
        .item-index 9
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164277.png"}/
        .item-desc
          %a{:href => "#"} Bad Medicine
          .item-note Listeners: 24397
      %li.item
        .item-index 10
        %a{:href => "#"}
          %img{:alt => "", :src => "http://userserve-ak.last.fm/serve/126/52164277.png"}/
        .item-desc
          %a{:href => "#"} I'll Be There For You
          .item-note Listeners: 23122
.clear
